.project {
  margin-top: 5%;
  padding: 0 2rem;

  &__flex-layout {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 1025px) {
    &:nth-of-type(2n + 0) .project__flex-layout {
      flex-direction: row-reverse;

    }
      &:nth-child(3) .project__text {
        height: 250px;
        overflow: scroll;
      }
  }

  @media screen and (max-width: 1024px) {
    .project__flex-layout {
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      text-align: center;
    }
  }

  &__text__container {
    width: 100%;
    margin: auto;
  }

  &__title {
    color: white;
    text-align: center;
  }

  &__text {
    line-height: 2.3rem;
    color: white;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  &__info {
    display: flex;
    justify-content: center;
    &__list {
      display: flex;
      flex-direction: column;

      color: white;
      list-style: none;
      justify-content: space-around;
      text-align: center;
    }
  }
}
