.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hero__text {
  position: relative;
  color: white;
  text-align: center;
  width: 50%;
  min-width: 605px;
  border: 0;
  font-size: inherit;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__text--title {
  font-size: 70px;
  font-family: Rhodium Libre;
  font-weight: normal;
  line-height: 100px;
  margin: 0;
  overflow: hidden;
}

.hero__text--sub {
  font-family: Redressed;
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 1rem;
  -webkit-animation: show 3s 2s backwards linear;
          animation: show 3s 2s backwards linear;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero__image {
  position: relative;
}

.Skander {
  width: 500px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-position: -50px -25px;
  background-size: 115%;
  background-repeat: no-repeat;
  background-image: url("../images/skander.jpg");
  border: 1px solid #fff;
}

.Skander::after {
  position: absolute;
  inset: 0;
  content: "";
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2.5rem rgba(255, 255, 255, 0.03), 0 0 0 5rem rgba(255, 255, 255, 0.02), 0 0 0 7.5rem rgba(255, 255, 255, 0.01);
          box-shadow: 0 0 0 2.5rem rgba(255, 255, 255, 0.03), 0 0 0 5rem rgba(255, 255, 255, 0.02), 0 0 0 7.5rem rgba(255, 255, 255, 0.01);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.Skander:hover::after {
  opacity: 1;
}

/* ---------------------------- Discover button ---------------------------- */
.discover-btn {
  border: 2px solid #ff6a00;
  margin-bottom: 3rem;
  background-color: rgba(255, 255, 0, 0);
  color: #ff6a00;
  font-size: 3rem;
  padding: 10px;
  font-family: "Georama", sans-serif;
  -webkit-transition: color 1s, border 1s;
  transition: color 1s, border 1s;
  -webkit-animation: discoverShow 1s 7.5s both;
          animation: discoverShow 1s 7.5s both;
}

.discover-btn:hover {
  border: 2px solid #ff4000;
  color: #ff4000;
}

@-webkit-keyframes discoverShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes discoverShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.letter {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.border-animation::before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 0;
  border: 3px solid #383838;
  border-top: 0;
  -webkit-animation: borderAppearanceWidth 1s 4s both linear, borderAppearanceHeight 1s 5s both linear;
          animation: borderAppearanceWidth 1s 4s both linear, borderAppearanceHeight 1s 5s both linear;
}

.border-animation .top-border {
  position: absolute;
  display: block;
  top: -2px;
  background-color: #383838;
  width: 0;
  height: 3px;
  -webkit-animation: borderAppearanceWidthSpan 1s 6s both linear;
          animation: borderAppearanceWidthSpan 1s 6s both linear;
}

.border-animation .top-border:nth-child(1) {
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.border-animation .top-border:nth-child(2) {
  right: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

@-webkit-keyframes borderAppearanceWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes borderAppearanceWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes borderAppearanceHeight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes borderAppearanceHeight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@-webkit-keyframes borderAppearanceWidthSpan {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes borderAppearanceWidthSpan {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

.quote {
  width: 50%;
  color: white;
  overflow: hidden;
}

.quote small,
.quote h2 {
  font-family: "STIX Two Text", serif;
  display: block;
  -webkit-animation: quoteUp 2s 5s linear both;
          animation: quoteUp 2s 5s linear both;
}

@-webkit-keyframes quoteUp {
  from {
    -webkit-transform: translate(0, 300%);
            transform: translate(0, 300%);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes quoteUp {
  from {
    -webkit-transform: translate(0, 300%);
            transform: translate(0, 300%);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/*# sourceMappingURL=Hero.css.map */