@import url("https://fonts.googleapis.com/css2?family=Rancho&family=Ranga&display=swap");

a {
  text-decoration: none;
  color: inherit;
}



.header {
  height: 90px;
  color: white;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;
    line-height: 3.5rem;
    font-family: Roboto;
  }

  &__heading {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__logo {
    $width: 751px;
    $height: 1280px;
    $scale: 0.065;

    width: $width * $scale;
    height: $height * $scale;

    @keyframes move {
      from {
        transform: translateX(0px);
      }
      to {
        transform: translateX(200px);
      }
    }

    &--white{
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(306deg) brightness(108%) contrast(101%);
    }
  }

  &__title {
    $botMargin: 3px;
    position: relative;
    bottom: $botMargin;
    font-size: 47px;
    font-weight: normal;
    font-family: Rancho;
    // font-style: italic;
    margin: 0;
    padding-right: 10px;
    z-index: 1;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   inset: 0;
    //   left: -2rem;

    //   transform: translateY($botMargin);

    //   $thickness: 1px;
    //   background: repeating-linear-gradient(
    //     hsl(0, 0%, 0%),
    //     hsl(0, 0%, 0%) $thickness,
    //     hsla(0, 0%, 0%, 0) $thickness,
    //     hsla(0, 0%, 0%, 0) $thickness * 12
    //   );
    //   z-index: -1;
    // }
  }

  &__list {
    display: flex;
    list-style: none;

    & li {
      padding-right: 2rem;
      font-size: 20px;

      &:hover {
        animation: textHover 0.5s forwards linear;
      }

      &:last-child {
        padding: 0;
      }
    }
  }
}

@keyframes textHover {
  0% {
    color: white;
  }
  100% {
    color: hsl(0, 100%, 75%);
  }
}

// Sticky header
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  animation: headerOpacity 2s linear;
  z-index: 3;

  @keyframes headerOpacity {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
}

