/* --------------------------------- Global --------------------------------- */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #36364B;
}

li {
  list-style: none;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;

   background-image: url("components/images/Wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}