/* --------------------------------- Global --------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');

html{
    scroll-behavior: smooth;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #36364B;
  overflow-x: hidden;
}

.first-page-container{
  height: calc(100vh + 100px);
  position: relative;
  display: flex;
  flex-direction: column;

   background-image: url("components/images/Wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.title{
  color: white;
    text-align: center;
    font-family: "STIX Two Text", serif;
    font-size: 3rem;
}