.work {
  position: relative;
  margin: auto;

  &__title {
    color: white;
    font-family: "Georama", sans-serif;
    letter-spacing: 3px;
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0;
  }

}


