.work {
  width: 95%;
  margin: auto;
  // padding-top: 10rem;

  &__title {
    color: white;
    font-family: "Georama", sans-serif;
    letter-spacing: 3px;
    font-size: 3rem;
    text-align: center;
  }

  & .thumbnail:nth-child(n + 2) {
    float: right;
  }
}
