.about-me-bg {
  position: relative;
  // height: calc(100vh + 112px);

  overflow: hidden;
}

.anchor {
  position: relative;
  top: -88px;
  font: none;
}

// Waves
.about-me__custom-shape {
  position: absolute;
  width: 100vw;
  height: 100px;

  z-index: 3;

  background-image: url("../images/wave.svg");

  &--top {
    top: 0px;
  }
  &--bot {
    bottom: 0px;
    transform: rotate(180deg);
  }
}



.about-me-section {
  position: relative;

  display: grid;
  grid-template-rows: auto 80%;

  padding-top: 3rem;
  height: 80vh;
  // height: calc(100vh - 88px);

  &__title {
    grid-column: 1/3;
    margin-bottom: 0;
  }
}

.about-me__text-container {
  position: relative;

  grid-row-start: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-repeat: no-repeat;

  font-size: clamp(10px, 1vw, 1rem);

  transition: position 1.5s 2s;

  & h1,
  p {
    font-family: "STIX Two Text", serif;
    line-height: Min(3vw, 2.2rem);

    width: 60%;
    text-align: center;
  }

  & h1 {
    font-size: 2.2em;
    margin-bottom: clamp(0px, 1vw, 2rem);
  }
  & p {
    font-size: 1.5em;
    margin: 1rem;
  }
}

.about-me {
  position: absolute;
  bottom: 200%;
  right: 50%;
}

.squircle {
  position: absolute;
  z-index: -1;
  width: 35vw;
  min-width: 300px;
}

.skills {
  position: absolute;
  left: 50%;
  bottom: -200%;
}

/* -------------------------------- Animation ------------------------------- */
.is-visible {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    background: linear-gradient(
        to top left,
        rgba(255, 0, 0, 0.5),
        rgba(0, 0, 255, 0.5)
      ),
      url("../images/circle_scatter.svg");
    background-repeat: no-repeat;
    background-size: 100%, cover;

    transition: all 6s linear;
    animation: aboutMeAnimation 3s both;
  }

  @keyframes aboutMeAnimation {
    from {
      clip-path: polygon(0 0, 5% 0, 0 5%);
    }
    to {
      clip-path: polygon(0 0, 200% 0, 0 200%);
    }
  }
}

.show-on-scroll.is-visible .slide-in--1 {
  animation: bounceTop 2.5s 2s both ease-out;
}

.show-on-scroll.is-visible .slide-in--2 {
  animation: bounceBottom 2.5s 2s both ease-out;
}

@keyframes bounceBottom {
  0% {
    bottom: -200%;
  }
  80% {
    bottom: 5rem;
  }
  100% {
    bottom: 3rem;
  }
}

@keyframes bounceTop {
  0% {
    bottom: 200%;
  }
  80% {
    bottom: 0rem;
  }
  100% {
    bottom: 3rem;
  }
}
