.about-me-bg {
  position: relative;
  // height: calc(100vh + 112px);

  overflow: hidden;
}

.anchor {
  position: relative;
  top: -88px;
  font: none;
}

.about-me__custom-shape {
  position: absolute;
  width: 100vw;
  height: 100px;

  background-image: url("../images/wave.svg");

  &--top {
    top: 0px;
  }
  &--bot {
    bottom: 0px;
    transform: rotate(180deg);
  }
}

.about-me-section {
  position: relative;

  display: grid;
  grid-template-rows: auto 80%;

  padding-top: 3rem;
  height: 80vh;
  // height: calc(100vh - 88px);

  &__title {
    grid-column: 1/3;
    margin-bottom: 0;
  }
}

.about-me__text-container {
  grid-row-start: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-repeat: no-repeat;

  font-size: clamp(10px, 1vw, 1rem);

  transition: transform 1.5s 2s;
  transform-origin: center;

  & h1,
  p {
    font-family: "STIX Two Text", serif;
    line-height: Min(3vw, 2.2rem);

    width: 60%;
    text-align: center;
  }

  & h1 {
    font-size: 2.2em;
    margin-bottom: 2rem;
  }
  & p {
    font-size: 1.5em;
    margin: 1rem;
  }
}

.about-me {
  background-image: url("../images/squircle about me.svg");
  background-position: 6rem -1rem;
  background-size: 75vw;

  // background-size: 90vw;
  // background-position: 0rem -1rem;

  transform: translateY(-200%);
  & * {
    transform: translateY(4rem) scale(1vw);
    // transform: translate(3rem, 0);

  }
}

.skills {
  background-image: url("../images/squircle skills.svg");
  background-position: 3rem 1rem;
  background-size: 150vw;

  transform: translateY(200%);

  & * {
    transform: translateY(8rem);
  }
}

/* -------------------------------- Animation ------------------------------- */
.is-visible {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    background: linear-gradient(
        to top left,
        rgba(255, 0, 0, 0.5),
        rgba(0, 0, 255, 0.5)
      ),
      url("../images/circle_scatter.svg");
    background-repeat: no-repeat;
    background-size: 100%, cover;

    transition: all 6s linear;
    animation: aboutMeAnimation 3s both;
  }

  @keyframes aboutMeAnimation {
    from {
      clip-path: polygon(0 0, 5% 0, 0 5%);
    }
    to {
      clip-path: polygon(0 0, 200% 0, 0 200%);
    }
  }
}

.show-on-scroll.is-visible .slide-in {
  transform: translate(0);
}
